{% load static %}
{% load bootstrap4 %}

<h2 class='title inline' colspan='2' style='margin-top: 20px;'>Log in</h2>
<table>
  <tbody>
    <tr>
    <form class="form" method="POST" action="?continue={{ redirect_to }}">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="page_btn btn btn-outline-secondary">Log in</button>
        {% endbuttons %}
    </form>
    </tr>
    <tr>
      <td colspan="2">
        <a href="{% url 'askcats_signup' %}" style='margin-left: 16px;'>Create new account</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
