{% load static %}
<h2 class='title inline' colspan='2' style='margin-top: 20px;'>Log in</h2>
<h4 class='inline' style='color:red; margin-left:32px;'>Wrong login or password!</h4>
<table>
  <tbody>
    <tr>
      <td>Login</td>
      <td>
        <input type='text' maxlength="50" class='inline text_edit'/>
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <input type='password' maxlength="30" class='inline text_edit'/>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input class='add-answer-button' type="submit" value="Log in!" />
        <a href="#" style='margin-left: 16px;'>Create new account</a>
      </td>
    </tr>
  </tbody>
</table>
</div>