{% load static %}
<div class="card" style='margin-top: 20px;'>
	<div class="card-body row">
		<div class="col-3">
			<img src='{{ answer.author.avatar.url }}' style="width: 80px">
			<h6 class='block' style="margin_top: 4 px">{{answer.author.user_name}}</h6>
			<div class='likes block' style='margin-top: 10px'>
				<a class='inline'><img src="{% static 'images/dislike.png' %}" class='inline' style="width: 20px"> </a>
       			<h6 class='inline' style="margin-top:8px">{{answer.rating}} </h6>
       			<a class='inline'><img src="{% static 'images/like.png' %}"  class='inline' style="width: 20px"></a>
			</div>
		</div>
		<div class="col-9">
			<p class="card-text">{{answer.text}}</p>
			<input type='checkbox' class='inline'/> <h5 href="#" class="inline">correct</h5>
		</div>
	</div>
</div>
